code, kbd, pre, samp {
  font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  font-size: 1em;
}
code {
  font-size: 87.5%;
  color: #e83e8c;
  word-break: break-word;
}

img + figcaption {
  display: block;
  text-align: center;
}

.links a {
  display: inline-block;
  margin: 10px;
}
.links {
  text-align: center;
}