code, kbd, pre, samp {
  font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  font-size: 1em;
}
code {
  font-size: 87.5%;
  color: #e83e8c;
  word-break: break-word;
}

[href*='/pull/'], [href*='/issues/'] {
  text-decoration: none;
}

[href*='/pull/']:hover, [href*='/issues/']:hover {
  text-decoration: underline;
}

img + figcaption {
  display: block;
  text-align: center;
}